<!DOCTYPE html>
{% load static %}
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {# EXTERNAL CSS #}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {# HEADER #}
    {% include 'includes/header.html' %}

    {# NAVBAR #}
    {% include 'includes/nav.html' %}

    {# MAIN CONTENT #}
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {# FOOTER #}
    <footer>
        <p>&copy; 2024 Yangiliklar Sayti. Barcha huquqlar himoyalangan.</p>
    </footer>
</body>
</html>

