{% extends 'base.html' %}

{% block title %}Yangiliklar Sayti{% endblock %}

{% block content %}
    <h2 id="category-title">
        {% if category == 'mahalliy' %}
            <h2>Mahalliy Yangiliklar</h2>
        {% elif category == 'jahon' %}
            <h2>Jahon Yangiliklar</h2>
        {% elif category == 'sport' %}
            <h2>Sport Yangiliklar</h2>
        {% else %}
            <h2>Texnologiya Yangiliklar</h2>
        {% endif %}
    </h2>
        <div id="news-list">
            {% for post in posts %}
                <div class="news-item">
                    {% if category == 'mahalliy' %}
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.short_content }}</p>
                        <a href="{{ post.get_detail_url }}" class="read-more">Batafsil</a>
                    {% elif category == 'jahon' %}
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.short_content }}</p>
                        <a href="{{ post.get_detail_url }}" class="read-more">Batafsil</a>
                    {% elif category == 'sport' %}
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.short_content }}</p>
                        <a href="{{ post.get_detail_url }}" class="read-more">Batafsil</a>
                    {% else %}
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.short_content }}</p>
                        <a href="{{ post.get_detail_url }}" class="read-more">Batafsil</a>
                    {% endif %}
                </div>
            {% empty %}
                <h2>Hozircha yangilik yo'q</h2>
            {% endfor %}
        </div>
{% endblock %}


